:root {
    --main__color: #24333e;
    --white: #ffffff;
    --border: #747474;
    --active: #00fff0;
}
body {
    background-color: var(--main__color);
    color: var(--white);
    font-family: Arial;
    font-weight: 600;
}
.menu__container {
    margin: 15px;
}
.menu__container img {
    cursor: pointer;
}

.menu {
    border: 0.5px solid var(--border);
    width: 90%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto;
}
.menu__button {
    border-bottom: 0.2px solid var(--border);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}
button {
    color: var(--white);
}
button span {
    cursor: pointer;
}
.active {
    border-bottom: 0.2px solid var(--active);
    color: var(--active);
}
button {
    font-size: 1rem;
    font-weight: 700;
    background: none;
    border: none;
    padding-bottom: 20px;
}

.menu h1,
h4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    align-items: center !important;
}
img {
    padding: 15px;
}
.close__menu__text {
    color: var(--border);
}
@media only screen and (min-device-width: 300px) and (max-device-width: 460px) {
    h1 {
        font-size: 1.2rem;
    }
    img {
        padding: 2px;
    }
    .menu__container img {
        max-width: 80px;
    }
}
